body {
  margin: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  /* 	 font-family: Raleway; */
  overflow-x: hidden !important;
  width: 100%;
}

@font-face {
  font-family: "ARBERKLEY";
  src: url("../../fonts/ARBERKLEY.ttf");
}
@font-face {
  font-family: "Oregon_LDO_Extended_Black";
  src: url("../../fonts/Oregon_LDO_Extended_Black.ttf");
}
@font-face {
  font-family: "Oregon_LDO_ExtraBlack";
  src: url("../../fonts/Oregon_LDO_ExtraBlack.ttf");
}
.above-header {
  background-color: #171d23;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.above-header p {
  font-size: 48px;
  line-height: 14px;
  color: #ffffff;
  font-family: Oregon_LDO_Extended_Black;
  font-weight: 800;
  filter: drop-shadow(0.087px 0.996px 1px rgba(0, 0, 0, 0.55));
  margin: 0 10px 0 10px;
  text-shadow: 0 0 30px #ffffff;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .above-header {
    height: 100%;
  }
  .above-header p {
    font-size: 30px;
    margin: 5px;
  }
  .above-header img {
    width: 50px;
    margin: 10px;
  }
}
/* NAVIGATION BAR */
nav {
  height: 45px;
  filter: drop-shadow(0.261px 2.989px 2px rgba(0, 0, 0, 0.69));
  background-image: linear-gradient(0deg, #272d35 0%, #414f5d 97%, #6a88a4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  /* margin-left: 12%; */
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
}
nav ul li {
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li:hover {
  width: 115px;
  height: 45px;
  background-image: linear-gradient(0deg, #85c32b 0%, #a9d171 85%);
}
nav ul a {
  font-size: 14px;
  line-height: 14px;
  color: #cfcfcf;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 0px #000000);
  text-decoration: none;
}

.divider {
  width: 1px;
  height: 44px;
  background-image: linear-gradient(0deg, #272f37 0%, #151a20 53%, #3f4d59 99%);
}

@media (max-width: 768px) {
  nav ul {
    margin-right: 12%;
    margin-left: 12%;
  }
  nav ul span, nav ul li {
    padding-right: 1px;
    padding-left: 1px;
  }
}
/* MAINSPACE */
.main-space {
  background-image: linear-gradient(0deg, #ffffff 0%, #e1e6ec 53%, #b9c3cc 99%);
  border: 1px solid #ffffff;
}

.banner {
  height: 465px;
  background-image: linear-gradient(0deg, #ffffff 27%, #ffffff 100%);
  background-color: rgba(255, 255, 255, 0);
  margin-top: 20px;
  margin-left: 11%;
  margin-right: 11%;
  box-shadow: 0 0 15px 20px #ddebf4 inset;
  border-radius: 15px;
  position: relative;
}

.banner_ribbon {
  position: absolute;
  top: 17px;
  left: -20px;
}

.banner_form {
  filter: drop-shadow(0.174px 1.992px 1px rgba(0, 0, 0, 0.36));
  background-color: rgba(181, 212, 229, 0);
  border: 5px solid #ffffff;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  width: 400px;
  height: 347px;
  background-image: url("../../images/search-map.png");
}

.banner_picture {
  background-image: url("../../images/banner-image.png");
  position: absolute;
  right: 15px;
  width: 520px;
  height: 435px;
  top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner_labels {
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.banner_labels:first-of-type {
  margin-top: 78px;
}
.banner_labels:nth-child(3) {
  margin-bottom: 26px;
}
.banner_labels label {
  font-size: 12px;
  color: #010101;
  font-family: "Arial";
  font-weight: bold;
}

.accomodation-legend {
  margin-left: 20px;
  margin-bottom: 9px;
  margin-top: 0;
  font-size: 12px;
  color: #010101;
  font-family: "Arial";
  font-weight: bold;
}

.city-label {
  margin-right: 80px;
}

.ar-label {
  margin-right: 36px;
}

.dep-label {
  margin-right: 16px;
}

.banner_checkboxes {
  margin-left: 125px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.banner_checkboxes label {
  font-size: 12px;
  color: #26323a;
  font-family: "Arial";
}
.banner_checkboxes input {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #7a9fbb;
}

.banner_checkboxes_lastrow {
  margin-bottom: 20px;
}

.hotel_label {
  margin-right: 77px;
}

.breakfast-label {
  margin-right: 20px;
}

.search-button {
  margin-left: 125px;
  width: 119px;
  height: 38px;
  border-radius: 8px;
  filter: drop-shadow(0.261px 2.989px 2px rgba(0, 0, 0, 0.69));
  background-image: linear-gradient(0deg, #272d35 0%, #414f5d 97%, #6a88a4 100%);
  border: 1px solid #293039;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ffffff;
  font-family: Oregon_LDO_ExtraBlack;
  font-weight: 800;
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 0px rgba(0, 0, 0, 0.41));
}

.city-input {
  /* 	background-color: rgba(255,255,255,0); */
  border: 1px solid #7a9fbb;
  width: 257px;
  height: 25px;
  font-size: 12px;
  color: #26323a;
  font-family: "Arial";
}

.calendar {
  position: absolute;
  width: 16px;
  height: 18px;
  left: 240px;
}

.ar-input, .dep-input {
  width: 147px;
  height: 25px;
  border: 1px solid #7a9fbb;
  font-size: 12px;
  color: #26323a;
  font-family: "Arial";
  padding-left: 5px;
}

.banner_ribbon {
  height: 60px;
  width: 447px;
  z-index: 3;
}

.banner_search-sign {
  font-size: 36px;
  color: #ffffff;
  font-family: "Oregon_LDO_ExtraBlack";
  font-weight: 800;
  font-style: italic;
  filter: drop-shadow(0.087px 0.996px 1px rgba(0, 0, 0, 0.55));
  position: absolute;
  z-index: 4;
  left: 38px;
  top: 37px;
  margin: 0;
  letter-spacing: 4px;
}

.banner_search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 40px;
  left: 382px;
  z-index: 4;
}

.banner-sign {
  font-size: 36px;
  line-height: 14px;
  color: #16191c;
  font-family: ARBERKLEY;
  position: absolute;
  z-index: 4;
  margin: 0;
  top: 407px;
  left: 18px;
}

@media (max-width: 1224px) {
  .banner {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 1050px) {
  .banner_picture {
    width: 455px;
  }
}
@media (max-width: 987px) {
  .banner_picture {
    width: 355px;
    top: 45px;
    right: 65px;
  }
}
@media (max-width: 925px) {
  .main-space {
    display: flex;
    justify-content: center;
  }

  .banner {
    height: 748px;
    width: 513px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .banner_picture {
    width: 380px;
    right: unset;
    top: 405px;
    left: 30px;
  }
}
@media (max-width: 675px) {
  .banner {
    width: 360px;
    height: 670px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .banner-sign {
    font-size: 22px;
  }

  .banner_form {
    width: 300px;
  }

  .banner_ribbon {
    width: 345px;
    left: -14PX;
  }

  .banner_search-sign {
    font-size: 30px;
    letter-spacing: 0px;
  }

  .banner_search-icon {
    left: 270px;
  }

  .city-input {
    width: 154px;
  }

  .banner_checkboxes {
    margin-left: 18px;
  }

  .banner_picture {
    width: 295px;
  }
}
@media (max-width: 380px) {
  .banner_picture {
    width: 240px;
  }

  .banner-sign {
    font-size: 15px;
    left: 60px;
    top: 400px;
  }

  .banner_form {
    width: 270px;
  }

  .banner_ribbon {
    width: 312px;
  }

  .banner_labels, .banner_checkboxes, .accomodation-legend {
    margin-left: 4px;
  }
}
@font-face {
  font-family: "Oregon LDO";
  src: url("../../fonts/Oregon LDO.ttf");
}
@font-face {
  font-family: "Oregon_LDO_ExtraBlack";
  src: url("../../fonts/Oregon_LDO_ExtraBlack.ttf");
}
.content {
  margin-left: 11%;
  margin-right: 11%;
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.left-part_welcome-word {
  width: 286px;
  height: 286px;
  border-radius: 2px;
  filter: drop-shadow(0.174px 1.992px 1px rgba(0, 0, 0, 0.1));
  background-color: #d7dde3;
  border: 1px solid #bbc9d5;
  margin-bottom: 14px;
}

.welcome-word_text, .welcome-word_ref {
  font-size: 12px;
  line-height: 18px;
  color: #2a2929;
  font-family: "Arial";
  margin-bottom: 17px;
  margin-left: 15px;
}

.welcome-word_ref {
  margin-top: 0;
  margin-bottom: 17px;
}
.welcome-word_ref a {
  color: #7bb2d8;
  text-decoration: none;
}

.welcome-word_title {
  font-size: 24px;
  line-height: 14px;
  color: #090b0d;
  font-family: "Oregon LDO";
  font-weight: bold;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.left-part_click-section {
  background-image: url("../../images/click_picture.png");
  height: 221px;
  width: 289px;
  margin-top: 0;
}
.left-part_click-section p {
  font-size: 24px;
  line-height: 14px;
  color: #ffffff;
  font-family: "Oregon LDO";
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 1px rgba(0, 0, 0, 0.55));
  padding-top: 33px;
  padding-left: 3px;
  margin-top: 0;
}
.left-part_click-section button {
  filter: drop-shadow(0.087px 0.996px 1px rgba(0, 0, 0, 0.55));
  background-image: linear-gradient(0deg, #c5e0e9 0%, #e6ecec 58%, #f7f9f9 96%);
  border: 1px solid rgba(255, 255, 255, 0.43);
  font-size: 18px;
  line-height: 14px;
  color: #424645;
  font-family: "Oregon LDO";
  font-weight: bold;
  text-align: center;
  width: 144px;
  height: 38px;
  letter-spacing: 1px;
  display: flex;
  align-items: baseline;
  padding-left: 3px;
  margin-left: 70px;
  margin-top: 25px;
}

.click-section_arrows {
  height: 13px;
  padding: 0;
  padding-left: 4px;
}

.content_right-part {
  margin-left: 19px;
  width: 100%;
  border-radius: 2px;
  filter: drop-shadow(0.174px 1.992px 1px rgba(0, 0, 0, 0.1));
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #dadcdd;
}

.right-part_header {
  height: 40px;
  background-image: linear-gradient(0deg, #3b4855 0%, #445667 83%);
  border-radius: 2px;
  filter: drop-shadow(0.174px 1.992px 1px rgba(0, 0, 0, 0.1));
  border: 2px solid #dadcdd;
}
.right-part_header p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-family: "Arial";
  margin-left: 13px;
  margin-top: 16px;
  margin-bottom: 14px;
}

.right-part_content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.right-part_content-title {
  font-size: 12px;
  line-height: 18px;
  color: #238acd;
  font-family: "Arial";
  font-weight: bold;
  margin-bottom: 10px;
}

.right-part_content-text {
  font-size: 12px;
  line-height: 18px;
  color: #afafaf;
  font-family: "Arial";
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.more-info {
  width: 86px;
  height: 24px;
  border-radius: 2px;
  background-image: linear-gradient(0deg, #1d3e52 2%, #254c67 3%, #2f7aac 49%, #3e84b8 50%, #63b3e7 98%, #9acff1 99%);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  font-family: "Arial";
  filter: drop-shadow(0.087px 0.996px 1px rgba(0, 0, 0, 0.55));
}
.more-info img {
  width: 9px;
  height: 9px;
  color: #e7d219;
}

.right-part_price {
  background-image: url("../../images/priceform.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 91px;
  height: 64px;
  border-radius: 2px;
  background-image: linear-gradient(0deg, #4d7415 0%, #79ae2d 3%, #9bcf52 50%, #a2d955 50%, #b7ee69 100%);
  filter: drop-shadow(0.261px 2.989px 2px rgba(0, 0, 0, 0.69));
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 15px;
  flex: none;
}

.price-from {
  font-size: 12px;
  color: #070806;
  font-family: "Arial";
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 0px rgba(255, 255, 255, 0.59));
  margin: 0;
  padding-top: 7px;
}

.per-night {
  font-size: 12px;
  color: #070806;
  font-family: "Arial";
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 0px rgba(255, 255, 255, 0.59));
  margin: 0;
}

.currency {
  font-size: 26px;
  color: #070806;
  font-family: "Oregon_LDO_ExtraBlack";
  text-align: center;
  filter: drop-shadow(0.087px 0.996px 0px rgba(255, 255, 255, 0.59));
  margin: 0;
}

.right-part_container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 18px;
}

.right-part_picture {
  /* 	filter: drop-shadow(0.174px 1.992px 1px rgba(0,0,0,0.27));
  border: 3px solid #f1f7fa; */
  width: 144px;
  height: 106px;
  margin-right: 15px;
}

@media (max-width: 1224px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 987px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .content_left-part {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-part_welcome-word {
    margin-right: 20px;
    margin-left: 20px;
  }

  .content_right-part {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .right-part_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .right-part_content {
    align-items: center;
    margin-bottom: 20px;
  }
}
footer {
  margin-top: 35px;
}

/*# sourceMappingURL=main.css.map */
